

<%= form_for @user, url: signin_path, html: { class: "signin-form" } do |f| %>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit "Login" %>
  </div>
<% end %>
